@font-face {
	font-family: 'IBR-font';
	src:url('../fonts/IBR-font.eot?kp7vxh');
	src:url('../fonts/IBR-font.eot?#iefixkp7vxh') format('embedded-opentype'),
		url('../fonts/IBR-font.woff?kp7vxh') format('woff'),
		url('../fonts/IBR-font.ttf?kp7vxh') format('truetype'),
		url('../fonts/IBR-font.svg?kp7vxh#IBR-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ibr-icon {
	font-family: 'IBR-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ibr-icon-logo:before {
	content: "\e600";
}
.ibr-icon-rect:before {
	content: "\e601";
}
.ibr-icon-map:before {
	content: "\e602";
}
.ibr-icon-marker:before {
	content: "\e603";
}
.ibr-icon-marker-info:before {
	content: "\e604";
}
.ibr-icon-filter:before {
	content: "\e605";
}
.ibr-icon-pump:before {
	content: "\e606";
}
.ibr-icon-canister:before {
	content: "\e607";
}
.ibr-icon-battery:before {
	content: "\e608";
}
.ibr-icon-rpm:before {
	content: "\e609";
}
.ibr-icon-vehicles:before {
	content: "\e60a";
}
.ibr-icon-truck:before {
	content: "\e60b";
}
.ibr-icon-truck-alt:before {
	content: "\e60c";
}
.ibr-icon-car:before {
	content: "\e60d";
}
.ibr-icon-digger:before {
	content: "\e60e";
}
.ibr-icon-tractor:before {
	content: "\e60f";
}
.ibr-icon-manipulator:before {
	content: "\e610";
}
.ibr-icon-lorry:before {
	content: "\e611";
}
.ibr-icon-driver:before {
	content: "\e612";
}
.ibr-icon-group:before {
	content: "\e613";
}
.ibr-icon-spinner:before {
	content: "\e614";
}
.ibr-icon-globe:before {
	content: "\e615";
}
.ibr-icon-calendar:before {
	content: "\e616";
}
.ibr-icon-clock:before {
	content: "\e617";
}
.ibr-icon-warning:before {
	content: "\e618";
}
.ibr-icon-zoom-in:before {
	content: "\e619";
}
.ibr-icon-zoom-out:before {
	content: "\e61a";
}
